.first-box {
    float: left;
    width: 200px;
    height: 100px;
    background-color: red;

}

.second-box {
    float: left;
    margin: 0px 20px;
    padding: 0px;
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.third-box {
    float: left;
    width: 200px;
    height: 100px;
    background-color: green;
}